/* Color Theme Swatches in Hex */
$Colors-of-a-Fox-1-hex: #f1c66c;
$Colors-of-a-Fox-2-hex: #fbf2f5;
$Colors-of-a-Fox-3-hex: #be8d63;
$Colors-of-a-Fox-4-hex: #8a6752;
$Colors-of-a-Fox-5-hex: #211213;

/* Color Theme Swatches in RGBA */
$Colors-of-a-Fox-1-rgba: rgba(240, 198, 107, 1);
$Colors-of-a-Fox-2-rgba: rgba(251, 242, 244, 1);
$Colors-of-a-Fox-3-rgba: rgba(189, 140, 98, 1);
$Colors-of-a-Fox-4-rgba: rgba(137, 103, 82, 1);
$Colors-of-a-Fox-5-rgba: rgba(33, 17, 18, 1);

/* Color Theme Swatches in HSLA */
$Colors-of-a-Fox-1-hsla: hsla(40, 82, 68, 1);
$Colors-of-a-Fox-2-hsla: hsla(340, 52, 96, 1);
$Colors-of-a-Fox-3-hsla: hsla(27, 41, 56, 1);
$Colors-of-a-Fox-4-hsla: hsla(22, 25, 43, 1);
$Colors-of-a-Fox-5-hsla: hsla(355, 29, 10, 1);

$color1: #f1c66c;
$color2: #fbf2f5;
$color3: #be8d63;
$color4: #8a6752;
$color5: #211213;
