.cta {
  height: 100vh;
  background: $bg;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    @extend .container;
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: space-between;
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 450px;
      .schedule {
        overflow-x: visible;
        color: $color4;
        width: 100%;
        text-align: center;
        h2 {
          font-size: 48px;
        }
        ul {
          li {
            font-size: 24px;
          }
        }
      }
      .streaming {
        display: flex;
        align-items: center;
        color: $color4;
        margin-top: 25px;
        h2 {
          font-size: 36px;
          margin-left: 5px;
        }
      }
    }

    .cta-text {
      max-width: 500px;
      h1 {
        font-size: 72px;
        color: $color5;
        text-transform: uppercase;
      }
      h2 {
        font-size: 24px;
        color: $color4;
        margin-bottom: 15px;
      }
      h3 {
        margin: 15px 0;
      }
      .links {
        color: $color3;
        display: flex;
        align-items: center;
        .fab {
          transition: all 0.3s;
          margin: 0 10px 0 0;
          &:hover {
            color: $color1;
            cursor: pointer;
          }
          &:active {
            color: $color4;
          }
        }
        .fas {
          margin: 0 10px 0 0;
          color: $color1;
        }
      }
    }
  }
}
