.landing {
  padding: 44px 0 0;
  background: $color2;
}

.cta {
  padding: 4% 0;
  overflow-x: hidden;
  background: $bg;
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    @extend .container;
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
      height: max-content;
      flex-wrap: wrap;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      @media screen and (max-width: 800px) {
        align-items: center;
      }
      .streaming-card {
        // max-height: 300px;
        margin-bottom: 15px;
        padding: 15px;
        border-radius: 4px;
        // height: 100%;
        // border-radius: 50%;
        background: $color5;

        color: $color2;
        h2 {
          font-size: 48px;
          text-transform: uppercase;
          padding-bottom: 5px;
        }
        h3 {
          font-size: 24px;
        }
        text-align: center;
        .video-list {
          margin-bottom: 5px;
          position: relative;
          .img-bg {
            max-width: 350px;
            width: 100%;
            max-height: 350px;
            height: 100%;
          }
          img {
            // padding-top: calc(360 / 360 * 100%);
            // position: absolute;
            width: 100%;
            height: 100%;
            transition: all 0.2s;
            max-width: 350px;
            h6 {
              // position: absolute;
              // top: 0;
            }
          }
        }
        .btn {
          margin-top: 15px;
          text-align: center;
          width: 100%;
          margin: 0 auto;
          i {
            margin: 5px;
          }
        }
        .youtube {
          background: #c4302b;
          color: #fff;
        }
        .twitch {
          background: #6441a5;
          color: #fff;
        }
      }
      .schedule {
        overflow-x: visible;
        color: $color4;
        width: 100%;
        text-align: center;
        h2 {
          font-size: 48px;
          color: $color4;
        }
        ul {
          li {
            font-size: 24px;
          }
        }
      }
      .streaming {
        display: flex;
        align-items: center;
        color: $color4;
        margin-top: 25px;
        h2 {
          font-size: 36px;
          margin-left: 5px;
        }
      }
    }

    .cta-text {
      max-width: 500px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 800px) {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      @media screen and (max-width: 800px) {
        margin-bottom: 15px;
      }

      h1 {
        font-size: 72px;
        color: $color5;

        text-transform: uppercase;
        @media screen and (max-width: 500px) {
          font-size: 36px;
          font-weight: bold;
        }
      }
      h2 {
        font-size: 24px;
        color: $color4;
      }
      h3 {
        margin: 15px 0;
      }
      .btn {
        background: $color0;
        @media screen and (max-width: 800px) {
          font-size: 38px;
        }
        @media screen and (max-width: 500px) {
          font-size: 23px;
          text-align: center;
        }
      }
      .links {
        color: $color3;
        display: flex;
        align-items: center;
        @media screen and (max-width: 500px) {
          justify-content: space-around;
          width: 100%;
        }
        .link {
          transition: all 0.3s;
          margin: 0 10px 0 0;
          cursor: pointer;
          .fa-youtube {
            color: #c4302b;
          }
          .fa-twitch {
            color: #6441a5;
          }
          .fa-instagram {
            color: #dd2a7b;
          }
          .fa-twitter {
            color: #00acee;
          }
          &:hover {
            transform: scale(1.048);
          }
          @media screen and (max-width: 500px) {
            margin: 0;
          }
        }
        .arrow {
          margin: 0 10px 0 0;
          color: $color1;
        }
      }
    }
  }
}
