html,
body,
.App,
#root {
  height: 100%;
  line-height: 1.25;
  box-sizing: border-box;
  background: $color5;
  // overflow-x: hidden;
}
body {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Merriweather', serif;
}

p,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  @media screen and (max-width: 800px) {
    max-width: 500px;
  }
  @media screen and (max-width: 500px) {
    max-width: 300px;
  }
}

.btn {
  font-size: 36px;
  padding: 15px;
  border-radius: 5px;
  background: $color1;
  color: $color5;
  width: max-content;
  cursor: pointer;
  text-transform: uppercase;
  transition: transform 0.2s;
  &.animate {
    &:hover {
      transform: scale(1.048);
    }
    &:active {
      transform: scale(1);
    }
  }
}

.hide-tablet {
  @media screen and (max-width: 800px) {
    display: none;
  }
}

.hide-mobile {
  @media screen and (max-width: 500px) {
    display: none;
  }
}

.hide-overflow-y {
  overflow-y: hidden;
}
