.nav {
  position: fixed;
  background: $color5;
  width: 100%;
  // padding: 15px 0;
  top: 0;
  left: 0;
  .content {
    @extend .container;
    .items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .item {
        font-family: 'Roboto', sans-serif;
        padding: 10px;
        cursor: pointer;
        color: $color3;
        text-transform: uppercase;
        transition: all 0.2s;
        &:hover {
          color: $color1;
        }
        &:active {
          color: $color3;
        }
      }
      .login-btn {
        @extend .btn;
        font-size: 16px;
        border-radius: 0px;
        color: $color5;
        &:hover {
          color: $color4;
        }
        &:active {
          color: $color5;
        }
      }
    }
  }
}
