.nav {
  position: fixed;
  background: $color5;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  display: flex;
  align-items: center;
  // padding: 15px 0;
  top: 0;
  left: 0;
  .title {
    text-transform: uppercase;
    color: $color2;
    font-size: 24px;
    cursor: pointer;
    span {
      color: $color1;
    }
  }
  .content {
    width: 100%;
    .items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      .item {
        font-family: 'Roboto', sans-serif;
        padding: 10px;
        cursor: pointer;
        color: $color2;
        text-transform: uppercase;
        transition: all 0.2s;
        &.stream-link {
          color: $color1;
          &:hover {
            color: $color2;
          }
          &:active {
            color: $color1;
          }
        }
        &:hover {
          color: $color1;
        }
        &:active {
          color: $color3;
        }
      }
      .login-btn {
        @extend .btn;
        font-size: 16px;
        border-radius: 0px;
        color: $color5;
        &:hover {
          color: $color4;
        }
        &:active {
          color: $color5;
        }
      }
    }
  }
}
